<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.starter474643" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Starter</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="loadUrlTimeoutValue" value="99999999" />
  <preference name="android-minSdkVersion" value="16" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
  <config-file parent="NSAppTransportSecurity" platform="ios" target="*-Info.plist">
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true />
    </dict>
  </config-file>
  </platform>
</widget>
